.container {
}

.wrapper {
  min-height: calc(100vh - 148px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .footer_div {
  align-self: flex-end;
} */
