.container {
  padding: 0;
}

.wrapper {
  display: flex;
  height: calc(100vh - 148px);
  overflow-y: hidden;
  position: relative;
}

.appointmentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%); /* Adjust to center on the right */
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 450px;
}

.hero_img {
  position: relative;
  width: 50%;
  background-image: url("../../public/mask-group.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_text {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c4a2a;
  color: white;
  width: 50%;
}

.hero_text h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  max-width: 60%;
}

.hero_text p {
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
  max-width: 60%;
}
